In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
acreage = pd.read_csv('../data/final/acreage.csv')
biodiversity = pd.read_csv('../data/final/biodiversity.csv')
climate = pd.read_csv('../data/final/climate.csv')
fees = pd.read_csv('../data/final/fees.csv')
general = pd.read_csv('../data/final/general.csv')
visits = pd.read_csv('../data/final/visits.csv')

In [3]:
biodiversity

,park_name,category,common_names
0,Acadia,Mammal,Moose
1,Acadia,Mammal,"Northern White-tailed Deer, Virginia Deer, Whi..."
2,Acadia,Mammal,"Coyote, Eastern Coyote"
3,Acadia,Mammal,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re..."
4,Acadia,Mammal,"Bay Lynx, Bobcat, Red Lynx, Wild Cat"
...,...,...,...
94906,Zion,Vascular Plant,cut-leaf nightshade
94907,Zion,Vascular Plant,canyon grape
94908,Zion,Vascular Plant,wine grape
94909,Zion,Vascular Plant,creosote bush
94910,Zion,Vascular Plant,puncture vine

In [4]:
agg_bio = biodiversity.groupby(['park_name'])['common_names'].count().to_frame().reset_index().rename(columns={'common_names':'total_species'})

In [5]:
agg_bio.head(1)

  park_name  total_species
0    Acadia           1169

In [6]:
agg_bio_cats = biodiversity.groupby(['park_name', 'category'])['common_names'].count().unstack().fillna(0)

In [7]:
agg_bio_cats

category,Amphibian,Bacteria,Bird,Chromista,Crab/Lobster/Shrimp,Fish,Fungi,Insect,Mammal,Non-vascular Plant,Other Non-vertebrates,Protozoa,Reptile,Slug/Snail,Spider/Scorpion,Vascular Plant
park_name,,,,,,,,,,,,,,,,
Acadia,11.0,0.0,214.0,0.0,0.0,33.0,0.0,0.0,38.0,0.0,0.0,0.0,7.0,0.0,0.0,866.0
Arches,5.0,0.0,182.0,0.0,0.0,10.0,0.0,0.0,44.0,0.0,0.0,0.0,14.0,0.0,0.0,499.0
Badlands,5.0,0.0,206.0,0.0,0.0,15.0,0.0,25.0,37.0,0.0,0.0,0.0,6.0,0.0,0.0,445.0
Big Bend,11.0,0.0,409.0,0.0,0.0,41.0,0.0,0.0,80.0,0.0,0.0,0.0,59.0,0.0,0.0,1306.0
Biscayne,8.0,0.0,229.0,0.0,0.0,547.0,0.0,1.0,24.0,0.0,25.0,0.0,30.0,0.0,0.0,430.0
Black Canyon of the Gunnison,1.0,0.0,143.0,0.0,0.0,12.0,0.0,0.0,50.0,0.0,0.0,0.0,9.0,0.0,0.0,476.0
Bryce Canyon,3.0,0.0,165.0,0.0,0.0,1.0,0.0,0.0,56.0,0.0,0.0,0.0,8.0,0.0,0.0,557.0
Canyonlands,6.0,0.0,204.0,0.0,0.0,33.0,0.0,0.0,49.0,0.0,0.0,0.0,19.0,0.0,0.0,558.0
Capitol Reef,5.0,0.0,234.0,0.0,0.0,10.0,0.0,0.0,58.0,0.0,0.0,0.0,17.0,0.0,0.0,842.0
Carlsbad Caverns,8.0,0.0,362.0,0.0,0.0,5.0,0.0,0.0,68.0,0.0,0.0,0.0,43.0,0.0,0.0,937.0
Channel Islands,3.0,0.0,354.0,10.0,6.0,251.0,0.0,0.0,42.0,2.0,111.0,0.0,10.0,28.0,0.0,800.0
Congaree,32.0,0.0,191.0,0.0,0.0,60.0,0.0,0.0,35.0,0.0,0.0,0.0,33.0,0.0,0.0,826.0
Crater Lake,8.0,0.0,144.0,0.0,0.0,6.0,0.0,60.0,68.0,0.0,0.0,0.0,3.0,0.0,0.0,815.0
Cuyahoga Valley,20.0,0.0,241.0,0.0,0.0,64.0,0.0,10.0,42.0,0.0,0.0,0.0,19.0,0.0,0.0,1092.0
Death Valley,5.0,0.0,384.0,0.0,0.0,7.0,0.0,0.0,48.0,0.0,0.0,0.0,34.0,0.0,0.0,952.0
Denali,1.0,0.0,154.0,0.0,0.0,19.0,0.0,78.0,37.0,0.0,0.0,0.0,0.0,0.0,2.0,762.0
Dry Tortugas,0.0,0.0,289.0,0.0,0.0,261.0,0.0,0.0,6.0,0.0,32.0,0.0,4.0,0.0,0.0,150.0
Everglades,17.0,0.0,358.0,0.0,0.0,220.0,0.0,0.0,36.0,0.0,0.0,0.0,53.0,0.0,0.0,1039.0
Gates of the Arctic,0.0,0.0,121.0,0.0,0.0,1.0,0.0,0.0,38.0,0.0,0.0,0.0,0.0,0.0,0.0,508.0
Glacier,6.0,0.0,242.0,0.0,0.0,26.0,0.0,0.0,59.0,0.0,0.0,0.0,3.0,0.0,0.0,1171.0
Glacier Bay,1.0,0.0,242.0,0.0,0.0,101.0,0.0,0.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0,522.0
Grand Canyon,9.0,0.0,444.0,0.0,2.0,24.0,0.0,115.0,91.0,0.0,1.0,0.0,43.0,2.0,30.0,1732.0
Grand Teton,5.0,0.0,180.0,0.0,0.0,21.0,0.0,1.0,56.0,0.0,2.0,0.0,4.0,12.0,0.0,1435.0
Great Basin,1.0,0.0,199.0,0.0,0.0,5.0,0.0,0.0,54.0,0.0,0.0,0.0,13.0,0.0,0.0,642.0
Great Sand Dunes,6.0,0.0,192.0,0.0,0.0,4.0,0.0,0.0,48.0,0.0,0.0,0.0,5.0,0.0,0.0,486.0
Great Smoky Mountains,50.0,46.0,229.0,40.0,17.0,82.0,685.0,2854.0,84.0,296.0,195.0,2.0,42.0,166.0,139.0,2048.0
Guadalupe Mountains,9.0,0.0,240.0,0.0,0.0,3.0,0.0,0.0,69.0,0.0,0.0,0.0,43.0,0.0,0.0,1011.0
Hot Springs,12.0,0.0,106.0,0.0,0.0,27.0,0.0,0.0,38.0,0.0,0.0,0.0,18.0,0.0,0.0,371.0
Indiana Dunes,17.0,0.0,301.0,0.0,0.0,71.0,0.0,4.0,42.0,0.0,0.0,0.0,23.0,0.0,0.0,1401.0
Isle Royale,8.0,0.0,243.0,0.0,0.0,53.0,0.0,13.0,18.0,0.0,0.0,0.0,3.0,0.0,0.0,804.0
Joshua Tree,2.0,0.0,247.0,0.0,0.0,0.0,0.0,0.0,54.0,0.0,0.0,0.0,49.0,0.0,0.0,484.0
Katmai,1.0,0.0,160.0,0.0,0.0,31.0,8.0,0.0,35.0,2.0,0.0,0.0,0.0,0.0,0.0,508.0
Kenai Fjords,0.0,0.0,145.0,0.0,0.0,32.0,8.0,0.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,397.0
Kobuk Valley,0.0,0.0,109.0,0.0,0.0,16.0,0.0,0.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,376.0
Lake Clark,1.0,0.0,158.0,0.0,0.0,43.0,5.0,0.0,36.0,20.0,0.0,0.0,0.0,0.0,0.0,713.0
Lassen Volcanic,5.0,0.0,169.0,0.0,0.0,9.0,0.0,0.0,53.0,0.0,0.0,0.0,8.0,0.0,0.0,805.0
Mammoth Cave,27.0,0.0,160.0,0.0,2.0,86.0,0.0,53.0,49.0,0.0,54.0,0.0,32.0,0.0,1.0,1315.0
Mesa Verde,3.0,0.0,205.0,0.0,0.0,0.0,0.0,0.0,65.0,0.0,0.0,0.0,16.0,0.0,0.0,810.0
Mount Rainier,14.0,0.0,145.0,0.0,0.0,15.0,0.0,46.0,57.0,0.0,0.0,0.0,5.0,0.0,0.0,907.0
New River Gorge,29.0,0.0,192.0,0.0,7.0,48.0,11.0,33.0,51.0,22.0,14.0,0.0,20.0,2.0,0.0,1793.0
North Cascades,13.0,0.0,225.0,0.0,0.0,28.0,60.0,141.0,67.0,114.0,0.0,0.0,8.0,0.0,1.0,1135.0
Olympic,13.0,0.0,249.0,0.0,0.0,85.0,0.0,87.0,65.0,0.0,0.0,0.0,5.0,0.0,0.0,866.0
Petrified Forest,7.0,0.0,221.0,0.0,0.0,0.0,0.0,0.0,32.0,0.0,0.0,0.0,16.0,0.0,0.0,450.0
Pinnacles,7.0,0.0,159.0,0.0,1.0,2.0,0.0,69.0,49.0,0.0,13.0,0.0,21.0,3.0,1.0,607.0
Redwood,18.0,0.0,287.0,0.0,0.0,112.0,0.0,0.0,83.0,0.0,0.0,0.0,23.0,0.0,0.0,914.0
Rocky Mountain,4.0,0.0,255.0,0.0,0.0,10.0,0.0,1.0,61.0,0.0,0.0,0.0,1.0,0.0,16.0,1003.0
Saguaro,8.0,0.0,210.0,0.0,0.0,0.0,0.0,0.0,69.0,0.0,0.0,0.0,51.0,0.0,0.0,1228.0
Shenandoah,25.0,0.0,196.0,0.0,0.0,41.0,47.0,84.0,55.0,0.0,0.0,0.0,24.0,0.0,0.0,1431.0
Theodore Roosevelt,6.0,0.0,161.0,0.0,0.0,29.0,0.0,0.0,37.0,0.0,0.0,0.0,9.0,0.0,0.0,543.0
Virgin Islands,7.0,0.0,173.0,0.0,0.0,0.0,0.0,0.0,15.0,0.0,42.0,0.0,16.0,0.0,0.0,700.0
Voyageurs,10.0,0.0,233.0,0.0,0.0,54.0,0.0,12.0,41.0,0.0,0.0,0.0,4.0,0.0,0.0,790.0
White Sands,7.0,0.0,151.0,0.0,0.0,1.0,0.0,0.0,38.0,0.0,0.0,0.0,28.0,0.0,0.0,300.0
Wind Cave,6.0,0.0,217.0,0.0,0.0,8.0,0.0,55.0,55.0,1.0,0.0,0.0,11.0,23.0,0.0,613.0
Yellowstone,3.0,0.0,289.0,0.0,0.0,18.0,2.0,168.0,66.0,0.0,1.0,0.0,6.0,2.0,0.0,1180.0
Yosemite,12.0,0.0,269.0,0.0,0.0,10.0,0.0,0.0,83.0,0.0,0.0,0.0,22.0,0.0,0.0,1401.0
Zion,7.0,0.0,210.0,0.0,0.0,9.0,0.0,0.0,68.0,0.0,0.0,0.0,29.0,0.0,0.0,996.0

In [8]:
agg_bio_cats.at['Acadia', 'Amphibian']

11.0

In [9]:
categories = biodiversity.category.unique()
categories

array(['Mammal', 'Bird', 'Reptile', 'Amphibian', 'Fish', 'Vascular Plant',
       'Insect', 'Crab/Lobster/Shrimp', 'Slug/Snail',
       'Other Non-vertebrates', 'Non-vascular Plant', 'Spider/Scorpion',
       'Protozoa', 'Chromista', 'Fungi', 'Bacteria'], dtype=object)

In [10]:
for cat in categories:
    agg_bio[cat] = 0

In [11]:
agg_bio

,park_name,total_species,Mammal,Bird,Reptile,Amphibian,Fish,Vascular Plant,Insect,Crab/Lobster/Shrimp,Slug/Snail,Other Non-vertebrates,Non-vascular Plant,Spider/Scorpion,Protozoa,Chromista,Fungi,Bacteria
0,Acadia,1169,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Arches,754,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Badlands,739,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Big Bend,1906,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Biscayne,1294,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,Black Canyon of the Gunnison,691,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,Bryce Canyon,790,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,Canyonlands,869,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,Capitol Reef,1166,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,Carlsbad Caverns,1423,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,Channel Islands,1617,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,Congaree,1177,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,Crater Lake,1104,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,Cuyahoga Valley,1488,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,Death Valley,1430,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,Denali,1053,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,Dry Tortugas,742,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,Everglades,1723,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,Gates of the Arctic,668,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,Glacier,1507,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20,Glacier Bay,908,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,Grand Canyon,2493,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,Grand Teton,1716,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,Great Basin,914,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24,Great Sand Dunes,741,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25,Great Smoky Mountains,6975,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,Guadalupe Mountains,1375,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27,Hot Springs,572,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28,Indiana Dunes,1859,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29,Isle Royale,1142,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30,Joshua Tree,836,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31,Katmai,745,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
32,Kenai Fjords,614,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
33,Kobuk Valley,529,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
34,Lake Clark,976,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35,Lassen Volcanic,1049,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
36,Mammoth Cave,1779,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37,Mesa Verde,1099,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
38,Mount Rainier,1189,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
39,New River Gorge,2222,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
40,North Cascades,1792,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
41,Olympic,1370,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
42,Petrified Forest,726,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43,Pinnacles,932,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
44,Redwood,1437,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45,Rocky Mountain,1351,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
46,Saguaro,1566,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
47,Shenandoah,1903,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
48,Theodore Roosevelt,785,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49,Virgin Islands,953,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
50,Voyageurs,1144,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51,White Sands,525,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
52,Wind Cave,989,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53,Yellowstone,1735,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
54,Yosemite,1797,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55,Zion,1319,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [12]:
for index, fields in agg_bio.iterrows():
    for cat in categories:
        agg_bio.at[index, cat] = agg_bio_cats.at[fields.park_name, cat] if (fields.park_name in agg_bio_cats.index) else np.nan

In [13]:
agg_bio = agg_bio[['park_name', 'Mammal', 'Bird', 'Reptile', 'Amphibian', 'Fish', 'Vascular Plant']]

In [14]:
agg_bio['total_species'] = agg_bio.drop(columns='park_name').sum(axis=1)

C:\Users\Jab\AppData\Local\Temp\ipykernel_2760\1668733219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_bio['total_species'] = agg_bio.drop(columns='park_name').sum(axis=1)

In [15]:
agg_bio

,park_name,Mammal,Bird,Reptile,Amphibian,Fish,Vascular Plant,total_species
0,Acadia,38,214,7,11,33,866,1169
1,Arches,44,182,14,5,10,499,754
2,Badlands,37,206,6,5,15,445,714
3,Big Bend,80,409,59,11,41,1306,1906
4,Biscayne,24,229,30,8,547,430,1268
5,Black Canyon of the Gunnison,50,143,9,1,12,476,691
6,Bryce Canyon,56,165,8,3,1,557,790
7,Canyonlands,49,204,19,6,33,558,869
8,Capitol Reef,58,234,17,5,10,842,1166
9,Carlsbad Caverns,68,362,43,8,5,937,1423
10,Channel Islands,42,354,10,3,251,800,1460
11,Congaree,35,191,33,32,60,826,1177
12,Crater Lake,68,144,3,8,6,815,1044
13,Cuyahoga Valley,42,241,19,20,64,1092,1478
14,Death Valley,48,384,34,5,7,952,1430
15,Denali,37,154,0,1,19,762,973
16,Dry Tortugas,6,289,4,0,261,150,710
17,Everglades,36,358,53,17,220,1039,1723
18,Gates of the Arctic,38,121,0,0,1,508,668
19,Glacier,59,242,3,6,26,1171,1507
20,Glacier Bay,42,242,0,1,101,522,908
21,Grand Canyon,91,444,43,9,24,1732,2343
22,Grand Teton,56,180,4,5,21,1435,1701
23,Great Basin,54,199,13,1,5,642,914
24,Great Sand Dunes,48,192,5,6,4,486,741
25,Great Smoky Mountains,84,229,42,50,82,2048,2535
26,Guadalupe Mountains,69,240,43,9,3,1011,1375
27,Hot Springs,38,106,18,12,27,371,572
28,Indiana Dunes,42,301,23,17,71,1401,1855
29,Isle Royale,18,243,3,8,53,804,1129
30,Joshua Tree,54,247,49,2,0,484,836
31,Katmai,35,160,0,1,31,508,735
32,Kenai Fjords,32,145,0,0,32,397,606
33,Kobuk Valley,28,109,0,0,16,376,529
34,Lake Clark,36,158,0,1,43,713,951
35,Lassen Volcanic,53,169,8,5,9,805,1049
36,Mammoth Cave,49,160,32,27,86,1315,1669
37,Mesa Verde,65,205,16,3,0,810,1099
38,Mount Rainier,57,145,5,14,15,907,1143
39,New River Gorge,51,192,20,29,48,1793,2133
40,North Cascades,67,225,8,13,28,1135,1476
41,Olympic,65,249,5,13,85,866,1283
42,Petrified Forest,32,221,16,7,0,450,726
43,Pinnacles,49,159,21,7,2,607,845
44,Redwood,83,287,23,18,112,914,1437
45,Rocky Mountain,61,255,1,4,10,1003,1334
46,Saguaro,69,210,51,8,0,1228,1566
47,Shenandoah,55,196,24,25,41,1431,1772
48,Theodore Roosevelt,37,161,9,6,29,543,785
49,Virgin Islands,15,173,16,7,0,700,911
50,Voyageurs,41,233,4,10,54,790,1132
51,White Sands,38,151,28,7,1,300,525
52,Wind Cave,55,217,11,6,8,613,910
53,Yellowstone,66,289,6,3,18,1180,1562
54,Yosemite,83,269,22,12,10,1401,1797
55,Zion,68,210,29,7,9,996,1319

In [16]:
agg_bio.to_csv('../data/final/bio_by_park.csv', index=False)

In [17]:
visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33395 entries, 0 to 33394
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         33395 non-null  int64
 1   Month                        33395 non-null  int64
 2   RecreationVisits             33395 non-null  object
 3   NonRecreationVisits          33395 non-null  object
 4   RecreationHours              33395 non-null  object
 5   NonRecreationHours           33395 non-null  object
 6   ConcessionerLodging          33395 non-null  object
 7   ConcessionerCamping          31386 non-null  float64
 8   TentCampers                  33395 non-null  object
 9   RVCampers                    33395 non-null  object
 10  Backcountry                  33395 non-null  object
 11  NonRecreationOvernightStays  32474 non-null  float64
 12  MiscellaneousOvernightStays  33395 non-null  object
 13  park_name                    33395 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 3.6+ MB

In [18]:
visits.loc[visits.Year == 2023].groupby('park_name').sum().reset_index().drop(columns=['Year', 'Month'])

,park_name,RecreationVisits,NonRecreationVisits,RecreationHours,NonRecreationHours,ConcessionerLodging,ConcessionerCamping,TentCampers,RVCampers,Backcountry,NonRecreationOvernightStays,MiscellaneousOvernightStays
0,Acadia,"15,21715,28130,822102,928340,425566,535767,956...","6006006006007,5007,5007,5007,5007,5006,000600600","100,434100,853203,428596,9822,369,8034,257,742...","6006006006007,5007,5007,5007,5007,5006,000600600",000000000000,1603.0,"000010,04923,40930,43130,04819,2117,46700","00003,66910,05812,11910,5769,4583,19400",00006823340841732412000,0.0,"00006721,7012,7662,7211,41732300"
1,American Samoa,"7357901,2409345145988475471,5582,2491,691432",000000000000,"1,4701,5802,4801,8681,0291,1971,6941,0943,1174...",000000000000,000000000000,0.0,000000000000,000000000000,000000000000,0.0,000000000000
2,Arches,"31,42741,264132,502151,232188,274180,782165,67...",000000000000,"106,709138,599426,657568,728690,000715,594603,...",000000000000,000000000000,0.0,"2452474241,5121,4472,6032,0301,9471,5011,2221,...","2643414972,3492,5242,9081,8712,0682,4352,1101,...",211627181237304289,0.0,"7282789051,2261,6965276141,10086144323"
3,Badlands,"10,92511,42622,39030,57299,117198,393248,30420...","2,0661,9762,4863,0706,2807,7808,2308,5306,8064...","42,71544,61187,695127,967438,577827,8771,040,7...","2,0661,9762,4863,0706,2807,7808,2308,5306,8064...","0002141,5982,0382,1602,1181,6011,11200",359.0,"5416393026401,078569476834010",0023012719214714018474104,401386279270242268124992210,0.0,000000000000
4,Big Bend,"45,37348,36283,15962,01440,01122,63416,91312,7...",225225225225225225225225225225225225,"914,719913,5581,504,3071,285,651717,352400,062...",225225225225225225225225225225225225,"2,1631,9532,4091,9832,2091,5681,0146321,4682,1...",3695.0,"3,7551,8083,1973,0081,5561,0348334109501,7082,...","2,5932,5683,9313,7281,8441,0765123699282,4193,...","5,7906,4929,57812,2893,2879534964256096,8616,0...",0.0,"7627201,6041,218622399192604471,0661,046933"
...,...,...,...,...,...,...,...,...,...,...,...,...
58,Wind Cave,"10,78410,92217,28037,54069,61599,549123,48293,...","12,37012,52813,21413,01424,13334,51027,51920,7...","18,01218,95231,224102,782207,641393,064449,027...","12,37012,52813,21413,01424,13334,51027,51920,7...",000000000000,0.0,"080201541,4662,0401,378330000","334632312,5332,3711,028264000",02451389914173552430,0.0,00000346311135225000
59,Wrangell-St. Elias,"25952305204,12917,12528,44620,2786,8325306035",000000000000,"1,1504,37010,58023,920189,917787,7431,308,5189...",000000000000,000000000000,0.0,000000000000,000000000000,1193540375689698229229,0.0,"232395475,99611,90811,5962,1431320"
60,Yellowstone,"45,70945,71730,04469,247454,262847,864969,6928...","60,27263,37061,46863,812119,931169,196200,7401...","658,169701,815403,531832,0926,713,83116,021,54...","60,27263,37061,46863,812119,931169,196200,7401...","4,5176,3521,697036,823131,843125,189148,695147...",0.0,"000002,4588,4068,1474,8861,39800","000004,6348,0648,5386,7742,40300","523295476583,65311,72313,3177,5491,110620",0.0,"000001,1282,7621,039467000"
61,Yosemite,"107,256107,01225,005205,802322,308487,618580,3...","4,7344,6029108,34614,69821,16024,01223,12521,6...","1,130,6921,452,226228,2322,653,2064,537,7106,9...","4,7344,6029108,34614,69821,16024,01223,12521,6...","17,50823,2643,66135,16840,59478,48072,18578,40...",0.0,"1,7865,07209,30426,43731,64837,53744,50158,120...","1,4523,640012,13231,02034,62014,26818,57632,49...","423540255634,12912,97421,62432,08124,5856,7662...",0.0,"6024008402,3262,6984,3964,4563,7642,736390360"
62,Zion,"114,117130,478336,226450,819514,283564,036561,...","1,8601,6801,8601,8001,8601,8001,8601,8601,8001...","698,057829,0462,237,8472,861,7843,134,9993,585...","1,8601,6801,8601,8001,8601,8001,8601,8601,8001...","3,9754,2949,1019,2178,0939,56210,6599,9907,636...",0.0,"1,5792,0068,2238,2988,85213,75915,10013,5659,8...","2,6863,3617,3777,9327,0729,8359,5399,2258,3069...","5956607461,7721,3617395251,1721,241589177",0.0,"01642,1163,4843,3044,1664,5953,4203,4743,3492,..."

In [19]:
for col in visits.columns:
    if col not in ['Year', 'Month', 'park_name', 'NonRecreationOvernightStays', 'ConcessionerCamping']:
        visits[col] = pd.to_numeric(visits[col].str.replace(',', ''), errors='coerce')

In [20]:
visits

,Year,Month,RecreationVisits,NonRecreationVisits,RecreationHours,NonRecreationHours,ConcessionerLodging,ConcessionerCamping,TentCampers,RVCampers,Backcountry,NonRecreationOvernightStays,MiscellaneousOvernightStays,park_name
0,1979,1,6011,15252,37446,15252,0,0.0,102,13,0,0.0,0,Acadia
1,1979,2,5243,13776,17661,13776,0,0.0,53,8,0,0.0,0,Acadia
2,1979,3,11165,15252,36051,15252,0,0.0,176,37,0,0.0,0,Acadia
3,1979,4,219351,37657,1334058,37657,0,0.0,1037,459,0,0.0,0,Acadia
4,1979,5,339416,50616,2088588,50616,0,0.0,3193,1148,0,0.0,0,Acadia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33390,2023,8,458449,1860,3027979,1860,9990,0.0,13565,9225,525,0.0,3420,Zion
33391,2023,9,491799,1800,3063140,1800,7636,0.0,9870,8306,1172,0.0,3474,Zion
33392,2023,10,504584,1860,3149423,1860,8051,0.0,9625,9191,1241,0.0,3349,Zion
33393,2023,11,284978,1800,1896028,1800,7845,0.0,6205,7035,589,0.0,2051,Zion
33394,2023,12,212443,1860,1343422,1860,6958,0.0,3329,4389,177,0.0,88,Zion

In [21]:
agg_visits = visits.loc[visits.Year == 2023].groupby('park_name').sum().reset_index().drop(columns=['Year', 'Month'])

In [22]:
agg_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   park_name                    63 non-null     object
 1   RecreationVisits             63 non-null     int64
 2   NonRecreationVisits          63 non-null     int64
 3   RecreationHours              63 non-null     int64
 4   NonRecreationHours           63 non-null     int64
 5   ConcessionerLodging          63 non-null     int64
 6   ConcessionerCamping          63 non-null     float64
 7   TentCampers                  63 non-null     int64
 8   RVCampers                    63 non-null     int64
 9   Backcountry                  63 non-null     int64
 10  NonRecreationOvernightStays  63 non-null     float64
 11  MiscellaneousOvernightStays  63 non-null     int64
dtypes: float64(2), int64(9), object(1)
memory usage: 6.0+ KB

In [23]:
agg_bio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   park_name       56 non-null     object
 1   Mammal          56 non-null     int64
 2   Bird            56 non-null     int64
 3   Reptile         56 non-null     int64
 4   Amphibian       56 non-null     int64
 5   Fish            56 non-null     int64
 6   Vascular Plant  56 non-null     int64
 7   total_species   56 non-null     int64
dtypes: int64(7), object(1)
memory usage: 3.6+ KB

In [24]:
visits_and_bio_2023 = agg_visits.merge(agg_bio
                ,how='left'
                ,left_on='park_name'
                ,right_on='park_name')

In [25]:
v_b_corr = visits_and_bio_2023.corr(numeric_only=True)

In [26]:
v_b_corr = v_b_corr.reset_index().rename(columns={'index':'Category'})

In [27]:
v_b_corr.to_csv('../data/final/visits_bio_corr.csv')

In [28]:
visits

,Year,Month,RecreationVisits,NonRecreationVisits,RecreationHours,NonRecreationHours,ConcessionerLodging,ConcessionerCamping,TentCampers,RVCampers,Backcountry,NonRecreationOvernightStays,MiscellaneousOvernightStays,park_name
0,1979,1,6011,15252,37446,15252,0,0.0,102,13,0,0.0,0,Acadia
1,1979,2,5243,13776,17661,13776,0,0.0,53,8,0,0.0,0,Acadia
2,1979,3,11165,15252,36051,15252,0,0.0,176,37,0,0.0,0,Acadia
3,1979,4,219351,37657,1334058,37657,0,0.0,1037,459,0,0.0,0,Acadia
4,1979,5,339416,50616,2088588,50616,0,0.0,3193,1148,0,0.0,0,Acadia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33390,2023,8,458449,1860,3027979,1860,9990,0.0,13565,9225,525,0.0,3420,Zion
33391,2023,9,491799,1800,3063140,1800,7636,0.0,9870,8306,1172,0.0,3474,Zion
33392,2023,10,504584,1860,3149423,1860,8051,0.0,9625,9191,1241,0.0,3349,Zion
33393,2023,11,284978,1800,1896028,1800,7845,0.0,6205,7035,589,0.0,2051,Zion
33394,2023,12,212443,1860,1343422,1860,6958,0.0,3329,4389,177,0.0,88,Zion