In [1]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
import numpy as np
import re

In [2]:
response = requests.get('https://www.latlong.net/category/national-parks-236-42.html')
response.status_code

200

In [3]:
soup = BS(response.text)

In [4]:
loc_table = soup.find_all('table')

In [5]:
locations = pd.read_html(str(loc_table[0]))[0]

In [6]:
locations

                                   Place Name   Latitude   Longitude
0          Grand Teton National Park, WY, USA  43.790802 -110.684944
1         Grand Canyon National Park, AZ, USA  36.266033 -112.363808
2         Capitol Reef National Park, UT, USA  38.089600 -111.149910
3            Pinnacles National Park, CA, USA  36.491508 -121.197243
4       Rocky Mountain National Park, CO, USA  40.343182 -105.688103
..                                        ...        ...         ...
82           Mt Hood National Forest, OR, USA  45.227173 -121.839455
83      Bryce Canyon National Park, Utah, USA  37.593048 -112.187332
84        Mammoth Cave National Park, KY, USA  37.183640  -86.159943
85  Redwood National and State Parks, CA, USA  41.213181 -124.004631
86             Yellowstone National Park, USA  44.423691 -110.588516

[87 rows x 3 columns]

In [7]:
locations['park_name'] = locations['Place Name'].str.replace(r'National.*$', '', regex=True).str.strip()

In [8]:
locations = locations.rename(columns={'Latitude':'lat', 'Longitude':'long'})

In [9]:
locations = locations.drop(columns='Place Name')

In [10]:
locations = locations.sort_values(by='park_name')
locations = locations.drop_duplicates('park_name').reset_index(drop=True)
locations

          lat        long                                park_name
0   44.338974  -68.273430                                   Acadia
1   29.610300  -94.449081                                  Anahuac
2   38.733082 -109.592514                                   Arches
3   35.767288 -106.311607                                Bandelier
4   44.475296 -103.424309  Bear Butte State Park, Sturgis, SD, USA
..        ...         ...                                      ...
78  45.398449  -92.645126     Wisconsin Interstate State Park, USA
79  61.710445 -142.985687                       Wrangell-St. Elias
80  44.427895 -110.588379                              Yellowstone
81  37.865101 -119.538330                                 Yosemite
82  37.297817 -113.028770                                     Zion

[83 rows x 3 columns]

In [11]:
locations.park_name.to_list() # Missing Parks

['Acadia',
 'Anahuac',
 'Arches',
 'Bandelier',
 'Bear Butte State Park, Sturgis, SD, USA',
 'Bridge Creek Wildlife Area, Ukiah, OR, USA',
 'Bryce Canyon',
 'Buffalo',
 'Cades Cove, Great Smoky Mountains',
 'Capitol Reef',
 'Channel Islands',
 'Chattahoochee',
 'Cherry Creek State Park, Aurora, CO, USA',
 'Crater Lake',
 'Danville Conservation Area, New Florence, MO, USA',
 'Denali',
 'Egypt Valley Wildlife Area, OH, USA',
 'Everglades',
 'Fort Berthold Indian Reservation, ND, USA',
 'Garden of Gods, Colorado Springs, CO, USA',
 'Gates of the Arctic',
 'Glacier Bay',
 'Golden Gate Canyon State Park, CA, USA',
 'Grand Canyon',
 'Grand Teton',
 'Grant Park, Chicago, IL, USA',
 'Great Smoky Mountains',
 'Gulf State Park, Gulf Shores, AL, USA',
 'Haleakalā',
 'Honolulu Watershed Forest Preserve, Honolulu, HI, USA',
 'Hot Springs',
 'Jackson Hole, WY, USA',
 'Joshua Tree',
 'Kaloko-Honokōhau',
 'Kartchner Caverns State Park, Benson, AZ, USA',
 'Katmai',
 'Kenai Fjords',
 'Kings Canyon',
 'Kings Mountain State Park, Blacksburg, SC, USA',
 'Kissimmee Prairie Preserve State Park, Okeechobee, FL, USA',
 'Lake Clark',
 'Lake Eola Park, Orlando, FL, USA',
 'Lantz Farm and Nature Preserve, WV, USA',
 'Little Sandy',
 'Malibu Creek State Park, Calabasas, CA, USA',
 'Mammoth Cave',
 'Manti-La Sal',
 'Maplewood State Park, Pelican Rapids, MN, USA',
 'Mesa Verde',
 'Mojave',
 'Mount Rainier',
 'Mt Hood',
 'Myakka State Forest, Englewood, FL, USA',
 'Navajo Nation Reservation, New Mexico, USA',
 'Odiorne Point State Park, Rye, NH, USA',
 'Offshore Trap/Pot Waters Area, Western Atlantic Ocean, the US',
 'Okefenokee',
 'Oleta River State Park, North Miami, FL, USA',
 'Pacific Remote Islands Marine',
 'Pedernales Falls State Park, Johnson City, TX, USA',
 'Petrified Forest',
 'Pinnacles',
 'Redwood',
 'Rocky Mountain',
 'Rothrock State Forest, State College, PA, USA',
 'Ruffner Mountain Nature Center, Birmingham, AL, USA',
 'Sand Harbor State Park, Incline Village, NV, USA',
 'Shenandoah',
 'Sipsey Wilderness, Mt Hope, AL, USA',
 'Siuslaw',
 'Steller Sea Lion Protection Area, AL, the US',
 'Summit Bechtel Reserve, Glen Jean, WV, USA',
 'Topanga State Park, Topanga, CA, USA',
 'Turtle Mountain, ND, USA',
 'Whiskeytown',
 'White Sands',
 'Willamette',
 'William F Hayden Green Mountain Park, Lakewood, CO, USA',
 'Wisconsin Interstate State Park, USA',
 'Wrangell-St. Elias',
 'Yellowstone',
 'Yosemite',
 'Zion']

In [12]:
np_all = pd.read_csv('../data/np_all.csv')

In [13]:
parks = np_all.park_name.to_list()

In [14]:
for index, fields in locations.iterrows():
    if fields.park_name in parks:
        pass
    else:
        locations = locations.drop(index)
locations = locations.reset_index(drop=True)

In [15]:
locations #Missing parks

          lat        long              park_name
0   44.338974  -68.273430                 Acadia
1   38.733082 -109.592514                 Arches
2   37.593048 -112.187332           Bryce Canyon
3   38.089600 -111.149910           Capitol Reef
4   33.998028 -119.772949        Channel Islands
5   42.944611 -122.109245            Crater Lake
6   63.129887 -151.197418                 Denali
7   25.286615  -80.898651             Everglades
8   67.915199 -153.463730    Gates of the Arctic
9   58.665806 -136.900208            Glacier Bay
10  36.266033 -112.363808           Grand Canyon
11  43.790802 -110.684944            Grand Teton
12  35.611763  -83.489548  Great Smoky Mountains
13  34.521530  -93.042267            Hot Springs
14  33.881866 -115.900650            Joshua Tree
15  58.597813 -154.693756                 Katmai
16  60.043777 -149.816360           Kenai Fjords
17  60.412697 -154.323502             Lake Clark
18  37.183640  -86.159943           Mammoth Cave
19  37.230873 -108.461838             Mesa Verde
20  46.879967 -121.726906          Mount Rainier
21  34.909988 -109.806793       Petrified Forest
22  36.491508 -121.197243              Pinnacles
23  41.213181 -124.004631                Redwood
24  40.343182 -105.688103         Rocky Mountain
25  38.700516  -78.292694             Shenandoah
26  32.779720 -106.171669            White Sands
27  44.427895 -110.588379            Yellowstone
28  37.865101 -119.538330               Yosemite
29  37.297817 -113.028770                   Zion