In [1]:
import pandas as pd
import re

In [2]:
np_data = pd.read_csv('../data/np_data.csv')

In [3]:
np_data.head(1)

,park_name,date_established,description,area_acres,area_km2,state,recreational_visits,non_recreational_visits,recreational_hours,non_recreational_hours,tent_overnights,rv_overnights,backcountry_overnights
0,Acadia,1919-02-26,Covering most of Mount Desert Island and other...,49071.4,198.6,Maine,3879890.0,47100.0,25804425.0,47100.0,120615.0,49074.0,1570.0

In [4]:
parks = np_data.park_name.to_list()

In [5]:
parks[0:5]

['Acadia', 'American Samoa', 'Arches', 'Badlands', 'Big Bend']

In [19]:
parks = parks[1:]
parks[0:5]

['American Samoa', 'Arches', 'Badlands', 'Big Bend', 'Biscayne']

In [6]:
acadia = pd.read_csv('../data/national-park-service/np-species/acadia.csv')

In [7]:
acadia = acadia.drop(columns=['Park Code', 'Category Sort', 'Order'
                     , 'Family', 'Taxon Code', 'TSN'
                     , 'Taxon Record Status', 'Scientific Name'
                     , 'Synonyms'])

In [8]:
acadia = acadia.rename(columns={'Park Name':'park_name'
                      ,'Category':'category'
                      ,'Common Names':'common_names'
                      ,'Occurrence':'occurrence'})

In [9]:
acadia

,park_name,category,common_names,occurrence
0,Acadia National Park,Mammal,Moose,Present
1,Acadia National Park,Mammal,"Northern White-tailed Deer, Virginia Deer, Whi...",Present
2,Acadia National Park,Mammal,"Coyote, Eastern Coyote",Present
3,Acadia National Park,Mammal,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Present
4,Acadia National Park,Mammal,"Bay Lynx, Bobcat, Red Lynx, Wild Cat",Present
...,...,...,...,...
1165,Acadia National Park,Vascular Plant,Hedge Bindweed,Present
1166,Acadia National Park,Vascular Plant,"Common Dodder, Love Vine",Present
1167,Acadia National Park,Vascular Plant,Deadly Nightshade,Present
1168,Acadia National Park,Vascular Plant,Buffalo Bur,Present
1169,Acadia National Park,Vascular Plant,"Virginia Creeper, Woodbine",Present

In [10]:
re.findall(r'(^.*) National Park', acadia.park_name[0])

['Acadia']

In [11]:
acadia.park_name = acadia.park_name.apply(lambda park: re.findall(r'(^.*) National Park', park)[0])

In [14]:
acadia = acadia.loc[acadia.occurrence == 'Present']

In [17]:
acadia = acadia.drop(columns='occurrence')

In [18]:
acadia

,park_name,category,common_names
0,Acadia,Mammal,Moose
1,Acadia,Mammal,"Northern White-tailed Deer, Virginia Deer, Whi..."
2,Acadia,Mammal,"Coyote, Eastern Coyote"
3,Acadia,Mammal,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re..."
4,Acadia,Mammal,"Bay Lynx, Bobcat, Red Lynx, Wild Cat"
...,...,...,...
1165,Acadia,Vascular Plant,Hedge Bindweed
1166,Acadia,Vascular Plant,"Common Dodder, Love Vine"
1167,Acadia,Vascular Plant,Deadly Nightshade
1168,Acadia,Vascular Plant,Buffalo Bur
1169,Acadia,Vascular Plant,"Virginia Creeper, Woodbine"

In [42]:
def speciesDf(base_df = acadia):
    biodiversity = base_df
    for park in parks:
        park = park.lower()
        try:
            df = pd.read_csv(f'../data/national-park-service/np-species/{park}.csv', encoding='latin-1')
            print(f'------{park}.csv was read in.------')
        except Exception as error:
            continue
            print()
            print(f'! ERROR - {park}.csv was NOT read in. !')
            print(error)
            print()
        df = df.drop(columns=['Park Code', 'Category Sort', 'Order'
                            , 'Family', 'Taxon Code', 'TSN'
                            , 'Taxon Record Status', 'Scientific Name'
                            , 'Synonyms'])
        df = df.rename(columns={'Park Name':'park_name'
                               ,'Category':'category'
                               ,'Common Names':'common_names'
                               ,'Occurrence':'occurrence'})
        df.park_name = df.park_name.apply(lambda name: re.findall(r'(^.*) National Park', name)[0])
        df = df.loc[df.occurrence == 'Present']
        df = df.drop(columns='occurrence')
        frames = [biodiversity, df]
        biodiversity = pd.concat(frames)
    return biodiversity

In [43]:
biodiversity = speciesDf()

------arches.csv was read in.------
------badlands.csv was read in.------
------big bend.csv was read in.------
------biscayne.csv was read in.------
------black canyon of the gunnison.csv was read in.------
------bryce canyon.csv was read in.------
------canyonlands.csv was read in.------
------capitol reef.csv was read in.------
------carlsbad caverns.csv was read in.------
------channel islands.csv was read in.------
------congaree.csv was read in.------
------crater lake.csv was read in.------
------cuyahoga valley.csv was read in.------
------death valley.csv was read in.------
------denali.csv was read in.------
------dry tortugas.csv was read in.------
------everglades.csv was read in.------
------gates of the arctic.csv was read in.------
------glacier.csv was read in.------
------glacier bay.csv was read in.------
------grand canyon.csv was read in.------
------grand teton.csv was read in.------
------great basin.csv was read in.------
------great sand dunes.csv was read in.------
------great smoky mountains.csv was read in.------
------guadalupe mountains.csv was read in.------
------hot springs.csv was read in.------
------indiana dunes.csv was read in.------
------isle royale.csv was read in.------
------joshua tree.csv was read in.------
------katmai.csv was read in.------
------kenai fjords.csv was read in.------
------kobuk valley.csv was read in.------
------lake clark.csv was read in.------
------lassen volcanic.csv was read in.------
------mammoth cave.csv was read in.------
------mesa verde.csv was read in.------
------mount rainier.csv was read in.------
------new river gorge.csv was read in.------
------north cascades.csv was read in.------
------olympic.csv was read in.------
------petrified forest.csv was read in.------
------pinnacles.csv was read in.------
------redwood.csv was read in.------
------rocky mountain.csv was read in.------
------saguaro.csv was read in.------
------shenandoah.csv was read in.------
------theodore roosevelt.csv was read in.------
------virgin islands.csv was read in.------
------voyageurs.csv was read in.------
------white sands.csv was read in.------
------wind cave.csv was read in.------
------yellowstone.csv was read in.------
------yosemite.csv was read in.------
------zion.csv was read in.------

In [41]:
biodiversity

,park_name,category,common_names,Record Status,Occurrence Tags,Nativeness,Nativeness Tags,Abundance
0,Acadia,Mammal,Moose,NaN,NaN,NaN,NaN,NaN
1,Acadia,Mammal,"Northern White-tailed Deer, Virginia Deer, Whi...",NaN,NaN,NaN,NaN,NaN
2,Acadia,Mammal,"Coyote, Eastern Coyote",NaN,NaN,NaN,NaN,NaN
3,Acadia,Mammal,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",NaN,NaN,NaN,NaN,NaN
4,Acadia,Mammal,"Bay Lynx, Bobcat, Red Lynx, Wild Cat",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1433,Zion,Vascular Plant,cut-leaf nightshade,NaN,NaN,NaN,NaN,NaN
1434,Zion,Vascular Plant,canyon grape,NaN,NaN,NaN,NaN,NaN
1435,Zion,Vascular Plant,wine grape,NaN,NaN,NaN,NaN,NaN
1436,Zion,Vascular Plant,creosote bush,NaN,NaN,NaN,NaN,NaN
1437,Zion,Vascular Plant,puncture vine,NaN,NaN,NaN,NaN,NaN

In [46]:
biodiversity.park_name.nunique()

56

In [48]:
biodiversity = biodiversity.drop(columns=['Record Status', 'Occurrence Tags'
                          ,'Nativeness', 'Nativeness Tags', 'Abundance'])

In [49]:
biodiversity

,park_name,category,common_names
0,Acadia,Mammal,Moose
1,Acadia,Mammal,"Northern White-tailed Deer, Virginia Deer, Whi..."
2,Acadia,Mammal,"Coyote, Eastern Coyote"
3,Acadia,Mammal,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re..."
4,Acadia,Mammal,"Bay Lynx, Bobcat, Red Lynx, Wild Cat"
...,...,...,...
1433,Zion,Vascular Plant,cut-leaf nightshade
1434,Zion,Vascular Plant,canyon grape
1435,Zion,Vascular Plant,wine grape
1436,Zion,Vascular Plant,creosote bush
1437,Zion,Vascular Plant,puncture vine

In [52]:
biodiversity.to_csv('../data/biodiversity.csv', index=False)