In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/national-park-service/np-stats/nps_visits_raw.csv')

C:\Users\Jab\AppData\Local\Temp\ipykernel_19476\3986525121.py:1: DtypeWarning: Columns (12,16,29,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/national-park-service/np-stats/nps_visits_raw.csv')

In [3]:
df

,ParkName,UnitCode,ParkType,Region,State,Year,Month,RecreationVisits,NonRecreationVisits,RecreationHours,...,NonRecreationVisitsTotal,RecreationHoursTotal,NonRecreationHoursTotal,ConcessionerLodgingTotal,ConcessionerCampingTotal,TentCampersTotal,RVCampersTotal,BackcountryTotal,NonRecreationOvernightStaysTotal,MiscellaneousOvernightStaysTotal
0,Acadia NP,ACAD,National Park,Northeast,ME,1979,1,"6,011","15,252","37,446",...,"395,913","17,155,530","198,056",0,0,"139,708","74,279",0,0,0
1,Acadia NP,ACAD,National Park,Northeast,ME,1979,2,"5,243","13,776","17,661",...,"395,913","17,155,530","198,056",0,0,"139,708","74,279",0,0,0
2,Acadia NP,ACAD,National Park,Northeast,ME,1979,3,"11,165","15,252","36,051",...,"395,913","17,155,530","198,056",0,0,"139,708","74,279",0,0,0
3,Acadia NP,ACAD,National Park,Northeast,ME,1979,4,"219,351","37,657","1,334,058",...,"395,913","17,155,530","198,056",0,0,"139,708","74,279",0,0,0
4,Acadia NP,ACAD,National Park,Northeast,ME,1979,5,"339,416","50,616","2,088,588",...,"395,913","17,155,530","198,056",0,0,"139,708","74,279",0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33390,Zion NP,ZION,National Park,Intermountain,UT,2023,8,"458,449","1,860","3,027,979",...,"21,900","29,471,316","5,475","95,381",0,"100,411","85,948","8,497",0,"30,211"
33391,Zion NP,ZION,National Park,Intermountain,UT,2023,9,"491,799","1,800","3,063,140",...,"21,900","29,471,316","5,475","95,381",0,"100,411","85,948","8,497",0,"30,211"
33392,Zion NP,ZION,National Park,Intermountain,UT,2023,10,"504,584","1,860","3,149,423",...,"21,900","29,471,316","5,475","95,381",0,"100,411","85,948","8,497",0,"30,211"
33393,Zion NP,ZION,National Park,Intermountain,UT,2023,11,"284,978","1,800","1,896,028",...,"21,900","29,471,316","5,475","95,381",0,"100,411","85,948","8,497",0,"30,211"
33394,Zion NP,ZION,National Park,Intermountain,UT,2023,12,"212,443","1,860","1,343,422",...,"21,900","29,471,316","5,475","95,381",0,"100,411","85,948","8,497",0,"30,211"

In [4]:
gen = pd.read_csv('../data/final/general.csv')

In [5]:
gen

,park_name,date_established,description,latitude,longitude
0,Acadia,1919-02-26,Covering most of Mount Desert Island and other...,44.35,68.21
1,American Samoa,1988-10-31,The southernmost national park is on three Sam...,14.25,170.68
2,Arches,1971-11-12,"This site features more than 2,000 natural san...",38.68,109.57
3,Badlands,1978-11-10,"The Badlands are a collection of buttes, pinna...",43.75,102.50
4,Big Bend,1944-06-12,Named for the prominent bend in the Rio Grande...,29.25,103.25
...,...,...,...,...,...
58,Wind Cave,1903-01-09,Wind Cave is distinctive for its calcite fin f...,43.57,103.48
59,Wrangell-St. Elias,1980-12-02,The largest national park in the system protec...,61.00,142.00
60,Yellowstone,1872-03-01,"Situated on the Yellowstone Caldera, the park ...",44.60,110.50
61,Yosemite,1890-10-01,"Yosemite features sheer granite cliffs, except...",37.83,119.50
62,Zion,1919-11-19,Located at the junction of the Colorado Platea...,37.30,113.05

In [6]:
parks = gen.park_name.to_list()

In [7]:
df.ParkName.value_counts()

ParkName
Acadia NP                          540
Haleakala NP                       540
Hot Springs NP                     540
Arches NP                          540
Isle Royale NP                     540
                                  ...
Lake Clark NP & PRES               504
Gates of the Arctic NP & PRES      504
New River Gorge NP & PRES          480
Congaree NP                        468
National Park of American Samoa    240
Name: count, Length: 63, dtype: int64

In [8]:
df['park_name'] = 'NOPE'
for index, fields in df.iterrows():
    for park in parks:
        if park in fields.ParkName:
            df.loc[index, 'park_name'] = park

In [9]:
for index, fields in df.iterrows():
    if fields.ParkName == 'Haleakala NP':
        df.loc[index, 'park_name'] = 'Haleakalā'
    elif fields.ParkName == 'Hawaii Volcanoes NP':
        df.loc[index, 'park_name'] = 'Hawaiʻi Volcanoes'

In [10]:
df.loc[df.park_name == 'NOPE'].ParkName.unique()

array([], dtype=object)

In [11]:
df = df.drop(columns=['ParkName', 'UnitCode', 'ParkType', 'State'])

In [12]:
df

,Region,Year,Month,RecreationVisits,NonRecreationVisits,RecreationHours,NonRecreationHours,ConcessionerLodging,ConcessionerCamping,TentCampers,...,RecreationHoursTotal,NonRecreationHoursTotal,ConcessionerLodgingTotal,ConcessionerCampingTotal,TentCampersTotal,RVCampersTotal,BackcountryTotal,NonRecreationOvernightStaysTotal,MiscellaneousOvernightStaysTotal,park_name
0,Northeast,1979,1,"6,011","15,252","37,446","15,252",0,0,102,...,"17,155,530","198,056",0,0,"139,708","74,279",0,0,0,Acadia
1,Northeast,1979,2,"5,243","13,776","17,661","13,776",0,0,53,...,"17,155,530","198,056",0,0,"139,708","74,279",0,0,0,Acadia
2,Northeast,1979,3,"11,165","15,252","36,051","15,252",0,0,176,...,"17,155,530","198,056",0,0,"139,708","74,279",0,0,0,Acadia
3,Northeast,1979,4,"219,351","37,657","1,334,058","37,657",0,0,"1,037",...,"17,155,530","198,056",0,0,"139,708","74,279",0,0,0,Acadia
4,Northeast,1979,5,"339,416","50,616","2,088,588","50,616",0,0,"3,193",...,"17,155,530","198,056",0,0,"139,708","74,279",0,0,0,Acadia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33390,Intermountain,2023,8,"458,449","1,860","3,027,979","1,860","9,990",0,"13,565",...,"29,471,316","5,475","95,381",0,"100,411","85,948","8,497",0,"30,211",Zion
33391,Intermountain,2023,9,"491,799","1,800","3,063,140","1,800","7,636",0,"9,870",...,"29,471,316","5,475","95,381",0,"100,411","85,948","8,497",0,"30,211",Zion
33392,Intermountain,2023,10,"504,584","1,860","3,149,423","1,860","8,051",0,"9,625",...,"29,471,316","5,475","95,381",0,"100,411","85,948","8,497",0,"30,211",Zion
33393,Intermountain,2023,11,"284,978","1,800","1,896,028","1,800","7,845",0,"6,205",...,"29,471,316","5,475","95,381",0,"100,411","85,948","8,497",0,"30,211",Zion
33394,Intermountain,2023,12,"212,443","1,860","1,343,422","1,860","6,958",0,"3,329",...,"29,471,316","5,475","95,381",0,"100,411","85,948","8,497",0,"30,211",Zion

In [13]:
df.to_csv('../data/final/visitation.csv')