In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/national-park-service/np-stats/nps_visits_raw.csv')

C:\Users\Jab\AppData\Local\Temp\ipykernel_4460\3986525121.py:1: DtypeWarning: Columns (12,16,29,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/national-park-service/np-stats/nps_visits_raw.csv')

In [3]:
df.ConcessionerCamping = pd.to_numeric(df.ConcessionerCamping, errors='coerce')
df.NonRecreationOvernightStays = pd.to_numeric(df.NonRecreationOvernightStays, errors='coerce')

In [4]:
df.columns

Index(['ParkName', 'UnitCode', 'ParkType', 'Region', 'State', 'Year', 'Month',
       'RecreationVisits', 'NonRecreationVisits', 'RecreationHours',
       'NonRecreationHours', 'ConcessionerLodging', 'ConcessionerCamping',
       'TentCampers', 'RVCampers', 'Backcountry',
       'NonRecreationOvernightStays', 'MiscellaneousOvernightStays',
       'ParkNameTotal', 'UnitCodeTotal', 'ParkTypeTotal', 'RegionTotal',
       'StateTotal', 'YearTotal', 'RecreationVisitsTotal',
       'NonRecreationVisitsTotal', 'RecreationHoursTotal',
       'NonRecreationHoursTotal', 'ConcessionerLodgingTotal',
       'ConcessionerCampingTotal', 'TentCampersTotal', 'RVCampersTotal',
       'BackcountryTotal', 'NonRecreationOvernightStaysTotal',
       'MiscellaneousOvernightStaysTotal'],
      dtype='object')

In [5]:
gen = pd.read_csv('../data/final/general.csv')

In [6]:
gen

,park_name,date_established,description,latitude,longitude,region
0,Acadia,1919-02-26,Covering most of Mount Desert Island and other...,44.35,68.21,Northeast
1,American Samoa,1988-10-31,The southernmost national park is on three Sam...,14.25,170.68,Northeast
2,Arches,1971-11-12,"This site features more than 2,000 natural san...",38.68,109.57,Northeast
3,Badlands,1978-11-10,"The Badlands are a collection of buttes, pinna...",43.75,102.50,Northeast
4,Big Bend,1944-06-12,Named for the prominent bend in the Rio Grande...,29.25,103.25,Northeast
...,...,...,...,...,...,...
58,Wind Cave,1903-01-09,Wind Cave is distinctive for its calcite fin f...,43.57,103.48,Northeast
59,Wrangell-St. Elias,1980-12-02,The largest national park in the system protec...,61.00,142.00,Northeast
60,Yellowstone,1872-03-01,"Situated on the Yellowstone Caldera, the park ...",44.60,110.50,Northeast
61,Yosemite,1890-10-01,"Yosemite features sheer granite cliffs, except...",37.83,119.50,Northeast
62,Zion,1919-11-19,Located at the junction of the Colorado Platea...,37.30,113.05,Northeast

In [7]:
parks = gen.park_name.to_list()

In [8]:
df.ParkName.value_counts()

ParkName
Acadia NP                          540
Haleakala NP                       540
Hot Springs NP                     540
Arches NP                          540
Isle Royale NP                     540
                                  ...
Lake Clark NP & PRES               504
Gates of the Arctic NP & PRES      504
New River Gorge NP & PRES          480
Congaree NP                        468
National Park of American Samoa    240
Name: count, Length: 63, dtype: int64

In [9]:
df['park_name'] = 'NOPE'
for index, fields in df.iterrows():
    for park in parks:
        if park in fields.ParkName:
            df.loc[index, 'park_name'] = park

In [10]:
for index, fields in df.iterrows():
    if fields.ParkName == 'Haleakala NP':
        df.loc[index, 'park_name'] = 'Haleakalā'
    elif fields.ParkName == 'Hawaii Volcanoes NP':
        df.loc[index, 'park_name'] = 'Hawaiʻi Volcanoes'

In [11]:
df.loc[df.park_name == 'NOPE'].ParkName.unique()

array([], dtype=object)

In [12]:
df.Region = df.Region.str.strip()

In [13]:
gen['region'] = df.Region

In [14]:
# gen.to_csv('../data/final/general.csv', index=False)

In [15]:
df = df.drop(columns=['ParkName', 'UnitCode', 'ParkType', 'State', 'Region'
                     ,'ParkNameTotal', 'UnitCodeTotal', 'ParkTypeTotal'
                     ,'RegionTotal', 'StateTotal', 'YearTotal', 'RecreationVisitsTotal'
                     ,'NonRecreationVisitsTotal', 'RecreationHoursTotal', 'NonRecreationHoursTotal'
                     ,'ConcessionerLodgingTotal', 'ConcessionerCampingTotal', 'TentCampersTotal'
                     ,'RVCampersTotal', 'BackcountryTotal', 'NonRecreationOvernightStaysTotal'
                     ,'MiscellaneousOvernightStaysTotal'])

In [16]:
df.columns

Index(['Year', 'Month', 'RecreationVisits', 'NonRecreationVisits',
       'RecreationHours', 'NonRecreationHours', 'ConcessionerLodging',
       'ConcessionerCamping', 'TentCampers', 'RVCampers', 'Backcountry',
       'NonRecreationOvernightStays', 'MiscellaneousOvernightStays',
       'park_name'],
      dtype='object')

In [17]:
# df.to_csv('../data/final/visits.csv', index=False)